table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #9b68ec;
  }
  
  .horario {
    max-width: 800px;
    margin: 20px auto;
  }